*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.player{
    width: 200px;
    height: 200px;
    background-color: red;
}