* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
td {
    padding: 10px 5px;
}

select{
    padding: 10px;
    appearance: none;
    border: 1px solid blue;

}
select:focus{
    outline: none;
}

.container {
    display: flex;
    height: 100vh;
}
.double-info {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}
.double-info > span:nth-child(odd) {
    color: gray;
}
.color-box {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right bottom, blue, lightblue);
}
.sub-logo {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background-image: linear-gradient(to right bottom, darkorange, orange);
}
.logo-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.logo-word {
    font-size: x-large;
}
/*side nav bar styling */
.navbar-side {
    padding: 10px;
    width: 13%;
}
.fa-solid {
    opacity: 0.6;
    padding: 0 0.5rem;
}
/*side nav bar styling ends here*/

/*navbar-infosec styling*/
.navbar-infosec {
    border: 0.5px solid #efeff1;
    border-width: 0 0.5px 0 0.5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    width: 20%;
    padding: 10px;

}
.navbar-infosec > select{
    text-decoration: none;
}
.options {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}
.single-option {
    padding: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.information-header{
    display: flex;
    
}

.information-header > div > span {
    padding: .4rem;
}
.selection-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.selection-box > p {
    padding: 0.5rem;
}
.form-header{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
    justify-content: space-between;
    gap: 2rem;
}
.prelim-info{
    display: flex;
    
}
.prelim-header{
    display: flex;
    justify-content: space-between;
}
/* end of navbar-infosec styling*/

/*font speficis*/

.small-item {
    font-size: small;
}
.grayout{
    color: gray;
    text-align: left;
}
.bolded{
    font-weight: bold;
}

/*font specifics end here */