/* style reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
/* end of style reset*/

/*main container*/
.container{
    display: flex;
    justify-content: center;
}
/*end of main container*/

/* calculator body and elements*/
.calculator-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7a7977;
    
    margin: 0.5rem;
    width: 500px;
    height: 400px;
    padding: 10px;
   

}
.calculator-typical-border{
    border-radius: 4px;
}
.calculator-head{
    background-color: #2c2c2c;
    width: 100%;
    padding: 10px;
    
}
.calculator-display{
    
    
    outline: none;
    
    
}
.calculator-operations{
    display: flex;
    width: 80%;
}

.single-item-number{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 2px;
}
.easy-border-viewer{
    border: 1px solid black;
}

#calculator-info{
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
/* end of body and elements */

