/* style reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
/* end of style reset*/

/*main container*/
.container{
    display: flex;
    justify-content: center;
}
/*end of main container*/

/* calculator body and elements*/
.calculator-body{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #7a7977;
    
    margin: 0.5rem;
    width: 500px;
    height: 400px;
    padding: 10px;
   

}
.calculator-typical-border{
    border-radius: 4px;
}
.calculator-head{
    background-color: #2c2c2c;
    width: 100%;
    padding: 10px;
    
}
.calculator-display{
    
    outline: none;
    width: 70%;
    padding: .4rem;
    color: black;
    
}
.calculator-operations{
    /*flex restrics too much - what about display inline-block?*/
    display: flex;
    
    padding: 10px;
    width: 80%;
}

.all-digits{
    display: flex;
    flex-direction: column;
    
}

.all-operations{
    display: flex;
    flex-direction: column;
    
}
.special-operations{
    display: flex;
    flex-direction: column;
}
.single-item{
    /* when it comes to 1 and 2 given that they inhabit different space what is the best way to style them?? */
    margin: .2rem;
    padding: 10px 20px;
    cursor: pointer;
}
.single-item:hover{
    box-shadow: 0 10px 20px rgb(0,0,0,.4);
}
.single-item:active{
    transform: translateY(+1px);
    box-shadow: 0 5px 10px rgb(0,0,0,.6);
}
.single-special-operation{
    background-color: red;
    color: #fff;
    border: 1px solid white;
    font-weight: 600;
    
}
.regular-button-styling{
    border: 1px solid white;
    background-color: #636363;
}
.easy-border-viewer{
    border: 1px solid black;
}

#calculator-info{
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
#evaluate-expression-button{
    background-color: blue;
    border: 1px solid #fff;
    color: #fff;
}
/* end of body and elements */

