html,body{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    padding: 1px
}


.container{
    display:flex;
    
    
}
.farm-label{
    color:gray;
}
.operation-container{
    width: 10%;
    background-color: #ffffff;
    padding: 10px;
}
.farm-selection{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.result-container{
    padding: 40px;
    width: 90%;
    background-color: #f4f6f9;
    height:100vh;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;

}
#box-logo{
    background-color: blue;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}