html,body{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    padding: 1px
}

input{
    position: absolute;
    right: 100%;
}


i{
    padding-top: 8px;
}

form{
    padding: 20px;
    
}
.tab-titles{
    border-bottom:3px solid #2f7549;
    padding: 9px;
}
.container{
    display:flex;
    
    
}
.farm-label{
    color:gray;
}
.farm-options{
    display: flex;
    flex-direction: column;
    
}
.farm-options > div{
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin-left: 13px;
}
.farm-options > div > div{
    padding: 3px;
    
}
.farm-options > div > div > i{
    padding-top: 2px;
}
.operation-container{
    
    width: 10%;
    background-color: #ffffff;
    padding: 10px;
}
.operation-container > div{
    padding: 5px 0;
}
.farm-selection{
    display: flex;
    justify-content: space-around;
    
}

.result-container{
    padding: 40px;
    width: 90%;
    background-color: #f4f6f9;
    height:100vh;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;

}
.information-header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 7px 0 5px 0;
}
.information-header > h2{
    margin-bottom: 0;
}
.tab-option{
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #2f7549;
}
.tab-option:checked{
    background-color: #f4f6f9;
}
#box-logo{
    background-image: linear-gradient(to right, blue , white);
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#farm-title{
    font-weight: bold;
}