html,body{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    padding: 1px
}

input{
    position: absolute;
    right: 100%;
}
.container{
    display:flex;
    
    
}
.farm-label{
    color:gray;
}
.operation-container{
    width: 10%;
    background-color: #ffffff;
    padding: 10px;
}
.farm-selection{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.result-container{
    padding: 40px;
    width: 90%;
    background-color: #f4f6f9;
    height:100vh;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;

}
.information-header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}
.tab-option{
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #2f7549;
}
.tab-option:checked{
    background-color: #f4f6f9;
}
#box-logo{
    background-image: linear-gradient(to right, blue , white);
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}